<link rel="stylesheet" href="/components/recipe-card/style.css" />
<article class="recipe-card">
  <header>
    <h3>{{name}}</h3>
    <dl>
      <dt>
        <img src="/assets/icon-duration.svg" width="20" height="20" alt="duration" title="duration"/>
      </dt>
      <dd>{{time}} min</dd>
      <dt>servings</dt>
      <dd>{{servings}} people</dd>
    </dl>
  </header>
  <div class="recipe-card__content">
    <div class="recipe-card__ingredients">{{ingredients}}</div>
    <p>{{description}}</p>
  </div>
</article>
