:root {
  --border-radius: 0.5rem;
  --gutter: 1rem;
  --big-gutter: calc(var(--gutter) * 2);
  --small-gutter: calc(var(--gutter) / 2);
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  padding: var(--big-gutter);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
header {
  text-align: center;
}
dt,
dd {
  margin: 0;
  padding: 0;
}
#app {
  padding-top: var(--big-gutter);
}
/* SEARCH BAR */
.search-bar {
  display: flex;
  font-size: 1.25em;
}
.search-bar label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.search-bar input {
  display: block;
  padding: 0.75em 1em;
  border: 1px solid lightgray;
  text-align: start;
  font: inherit;
  flex: 1 1 auto;
  border-radius: var(--border-radius);
  background: #e7e7e7 url(/assets/icon-search.svg) no-repeat calc(100% - 1rem)
    50%;
}

/* RECIPE CARD */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: var(--big-gutter);
  padding-top: var(--big-gutter);
}

.recipe-card {
  display: block;
  padding: 2rem;
  border: 1px solid lightgray;
  border-radius: var(--border-radius);
  text-align: start;
}
.recipe-card__header {
  display: flex;
  gap: 1rem;
  text-align: start;
}
.recipe-card__header h3 {
  flex: 1 1 auto;
}
.recipe-card__header dl {
  flex: 0 0 auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: max-content minmax(0, 1fr);
}
.recipe-card__header dt {
  justify-self: end;
}
.recipe-card__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  font-size: 0.85em;
}
.recipe-card__content p {
  margin: 0;
}
.recipe-card__ingredients dl {
  display: flex;
  gap: 0.5rem;
  margin: 0;
}
.recipe-card__ingredients dt {
  font-weight: bolder;
}

/* FILTERS */

.filters {
  display: flex;
  gap: var(--gutter);
  padding-top: var(--big-gutter);
}
.filter {
  color: white;
  display: block;
  position: relative;
}
.filter label {
  background: var(--bg-color, black);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: var(--small-gutter);
  padding: 0 var(--gutter) 0 0;
  font-weight: bolder;
}
.filter img {
  flex: 0 0 auto;
}
.filter strong,
.filter input {
  padding: var(--gutter);
  flex: 1 1 auto;
  background: none;
  font: inherit;
  color: inherit;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.filter input:not(.input--focus) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.input--focus {
  outline: 0;
  width: 30rem;
}
.input--focus ~ strong {
  display: none;
}
.input--focus ~ img {
  transform: rotate(0.5turn);
}
.filter input::placeholder {
  color: inherit;
}
.panel {
  columns: 3;
  padding: var(--gutter);
  position: absolute;
  top: calc(100% - var(--border-radius));
  left: 0;
  right: 0;
  background: var(--bg-color, black);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.panel:not(.panel--show) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.filter button {
  font-size: inherit;
  color: inherit;
  background: none;
  border: 0;
  display: block;
  padding: var(--small-gutter) 0;
  text-align: start;
  text-transform: capitalize;
}

/* KEYWORDS */

.keywords {
  display: flex;
  gap: var(--gutter);
  padding-top: var(--big-gutter);
}
.keyword {
  color: white;
  padding: var(--small-gutter);
  border-radius: var(--border-radius);
  display: inline-flex;
  gap: var(--small-gutter);
}
.keyword--ingredients {
  background: #3282f7;
}
.keyword--appliances {
  background: #68d9a4;
}
.keyword--utensils {
  background: #ed6454;
}
