:host {
  display: flex;
  font-size: 1.25em;
}

label {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

input {
  display: block;
  padding: .75em 1em;
  border: 1px solid lightgray;
  text-align: start;
  font: inherit;
  flex: 1 1 auto;
  border-radius: var(--border-radius);
  background: #E7E7E7 url(/assets/icon-search.svg) no-repeat calc(100% - 1rem) 50%;
}
