:host {
  display: block;
  padding: 2rem;
  border: 1px solid lightgray;
  text-align: start;
}
header {
  display: flex;
  gap: 1rem;
}
header h3 {
  flex: 1 1 auto;
}
header dl {
  flex: 0 0 auto;
}

.recipe-card__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));;
  gap: 1rem;
}
.recipe-card__ingredients dl {
  display: flex;
  gap: .5rem;
}
.recipe-card__ingredients dt, 
.recipe-card__ingredients dd {
  margin: 0;
  padding: 0;
}
.recipe-card__ingredients dt {
  font-weight: bolder;
}
